Source: chef-golang
Maintainer: pkg-go <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Joseph Anthony Pasquale Holsten <joseph@josephholsten.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8.0.0),
               dh-golang,
               golang-go
Standards-Version: 3.9.4
Homepage: https://github.com/marpaia/chef-golang
Vcs-Browser: https://github.com/marpaia/chef-golang
Vcs-Git: https://github.com/marpaia/chef-golang.git

Package: golang-chef-dev
Architecture: any
Section: libdevel
Description: Go library to interact with the Chef server API
