Source: chef-golang
Maintainer: pkg-go <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Joseph Anthony Pasquale Holsten <joseph@josephholsten.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9.0.0),
               dh-golang,
               golang-go
Standards-Version: 3.9.5
Homepage: https://github.com/marpaia/chef-golang
Vcs-Browser: https://github.com/marpaia/chef-golang
Vcs-Git: https://github.com/marpaia/chef-golang.git

Package: golang-chef-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Go library to access chef
 chef-golang is a go library to interact with the Chef server API.
